@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* Base font */
* {
  font-family: "Urbanist", sans-serif;
}
.active {
  background: #7bd50de0;
  color: aliceblue;
}

/* Fade and scale side slides */
.swiper-slide {
  transition: all 0.3s ease;
  opacity: 0.4;
  border-radius: 10px;
  transform: scale(0.9);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.3;
  transform: scale(0.95);
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1) translateY(-40px);
  z-index: 10;
}
